body {
  background: whitesmoke;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 35px;
  padding: 30px;
}
input {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-family: fantasy;
  font-size: 15px;
  margin-bottom: 30px;
}
