.Meaning h3 {
  font-family: fantasy;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  border: 1px solid rgb(58, 174, 179);
  box-shadow: 2px 2px 1px 1px rgb(58, 174, 179);
  width: 200px;
  padding-left: 10px;
  padding-top: 5px;
}
.Meaning h5 {
  font-family: fantasy;
  padding-top: 20px;
  margin: 0;
}
.Meaning .example {
  color: rgb(58, 174, 179);
  font-style: italic;
}
