.Meaning h3 {
  font-family: fantasy;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  width: 100px;
  padding-left: 10px;
  padding-top: 5px;
}
.Meaning h5 {
  font-family: fantasy;
  padding-top: 20px;
  margin: 0;
}
.Meaning .example {
  color: rgb(58, 174, 179);
  font-style: italic;
}
