h2 {
  padding-top: 30px;
  padding-left: 10px;
  font-family: fantasy;
  color: rgb(63, 135, 153);
  font-weight: bolder;
}
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  border: 1px solid rgb(58, 174, 179);
  box-shadow: 4px 4px 2px 1px rgb(58, 174, 179);
  width: 200px;
  padding-left: 10px;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}
.sugestion {
  font-size: 12px;
  text-align: center;
  color: rgb(90, 180, 196);
}
